.fleft {
	float:left;
	width:300px;
	background-color: 
}


.fright {
	float:right;
	width: 300px;

}

.col {
	-webkit-column-count:2;
	-webkit-column-rule-style:dotted;

}

.section {
	margin: 0,auto;


}