    body,
    p,
    form,
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    body {
        background-color: #fff;
        font-size: 62.5%;
        max-width: 414px;
        margin: 0;
        padding: 0;
        background: #F2F5F4;
    }
    
    body * {
        font-size: 100%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
    }
    
    p {
        margin-bottom: 1.1em;
        margin-top: 0;
    }
    
    p label {
        text-align: right;
        border: 1px solid red;
    }
    
    p input {
        text-align: right;
    }
    
    .headerStyle {
        width: 100%;
        height: 44px;
        display: block;
        background: white;
        box-sizing: border-box;
    }
    
    .searchBar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 44px;
        max-width: 414px;
        text-align: center;
        background: #F2F5F4;
        box-sizing: border-box;
    }

    .advertiseBar{
        top:44px;
        width:100%;
        height:116px;
        box-sizing:border-size;
    }
    
    .search {
        width: 90%;
        height: 100%;
        float: left;
        box-sizing: border-box;
    }
    
    .search input {
        width: 90%;
        background-color: white;
        border-radius: 5px;
        padding: 4px;
        height: 25px;
        line-height: 25px;
        margin: 0 auto;
        font-size: 1rem;
        margin-top: 10px;
        text-indent: 15px;
        border: 1px solid #999999;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        box-sizing: border-box;
    }
    
    .loginIcon {
        width: 10%;
        padding: 4px 8px 0 8px;
        height: 100%;
        float: right;
        text-align: center;
    }
    
    .myAPPArch {
        width: 100%;
        height: 100%;
        top: 0;
        right: 4px;
        text-decoration: none;
    }
    
    .myAPPIcon {
        float: left;
        width: 25px;
        height: 25px;
        padding-top: 4px;
        background: url(../images/imagesPSD/myAPPIcon.png) no-repeat 0 0;
        background-position: -58px -193px;
        margin: 0 auto;
    }
    
    .myAPPArch p {
        font-size: 1rem;
    }
    
    .footerStyle {
        width: 100%;
        height: 30px;
        line-height: 30px;
        display: block;
        float: left;
        background: black;
        color: white;
        font-size: 10px;
        text-align: center;
    }
    
  
    .clearFloat{
        clear:both;
    }
    
    .homeContentCase {

        width: 25%;
        height: 100%;
        float: left;
        text-align: center;
    }
    
    .homeContentCase p {
        margin-top: 20px;
    }
    
    .homeCaseLeft {
        width: 40px;
        height: 40px;
        float: left;
        vertical-align: middle;
    }
    
    .homeCaseRight {
        width: 40px;
        height: 40px;
        float: left;
        vertical-align: middle;
    }
    
    .logBar {
        width: 20%;
        height: 100%;
        box-sizing: border-box;
        height: 60px;
        line-height: 60px;
        float: left;
    }
    
    ul li a {
        color: #FFFFFF;
        background-color: #080808;
        float: left;
        height: 60px;
        line-height: 40px;
        box-sizing: border-box;
        font-size: 15px;
    }
    
    .nav>li>a:hover {
        color: #3EBBF9;
        background-color: #080808;
        border: 1px solid #080808;
        border-bottom-width: 5px;
        border-bottom-color: #3EBBF9;
        float: left;
        vertical-align: middle;
        height: 60px;
        line-height: 40px;
        box-sizing: border-box;
    }
    
    .nav>li>a:focus {
        color: #3EBBF9;
        background-color: #080808;
        border: 1px solid #080808;
        border-bottom-width: 5px;
        border-bottom-color: #F16F13;
        float: left;
        vertical-align: middle;
        height: 60px;
        line-height: 40px;
        box-sizing: border-box;
    }
    
    .smartManager {
        width: 100%;
        height: 540px;
        background-color: rgba(1, 155, 220, 0.95);
    }
    
    .contentPart {
        clear: both;
        width: 100%;
        height: 300px;
        /* padding-top:30px; */
        margin: 0 auto;
        /* margin-top: 10px; */
    }
    
    .barButton {
        width: 90px;
        height: 30px;
        color: white;
        font-size: 15px;
        background-color: orange;
        box-sizing: border-box;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 6px;
    }
    
    .xiaMenMap {
        background-image: url(../images/imagesPSD/xiameng3D.gif);
        background-size: 100% 100%;
    }
    
    .newInformation {
        background-image: url(../images/imagesPSD/newInformation.gif);
        background-size: 100% 100%;
    }
    
    .joinCoporation {
        background-image: url(../images/imagesPSD/joinCoporation.gif);
        background-size: 100% 100%;
        clear:both;
        width:100%;
        height:60%;
    }
    
    .blueBackground {
        background-color: rgba(1, 155, 220, 0.95);
    }
    
    .textIndent {
        margin-top: 40%;
        text-align: left;
        text-indent: -50%;
    }
    
    .roadmap {
        background-image: url(../images/imagesPSD/roadmap.gif);
        background-size: 100% 100%;
        opacity: 0.2;
        margin: 0 auto;
        background-repeat: no-repeat;
    }
    
    .roomLayout {
        background-image: url(../images/imagesPSD/roomlayout.gif);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .fcreateEnegry {
        background-image: url(../images/imagesPSD/fcreateMobile.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        clear: both;
        width: 100%;
        height: 60%;
    }
    
    .leftBar {
        clear: both;
        float: left;
        width: 25%;
        height: 100%;
    }
    
    .rightBar {
        float: left;
        width: 25%;
        height: 100%;
    }
    
    .rightArrow {
        margin-top: 20%;
        width: 60px;
        height: 50px;
        padding-right: 10px;
        float: right;
    }
    
    .middleBar {
        float: left;
        width: 40%;
        height: 100%;
        text-align: left;
    }
    
    .middleBar p:first-child {
        margin-left: 10px;
        margin-top: 30%;
        color: white;
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 2px;
    }
    
    .middleBar p:nth-child(2) {
        margin-left: 10px;
        color: white;
        font-size: 12px;
        margin-bottom: 2px;
    }
    
    .middleBar img {
        margin-left: 10px;
        float: right;
        overflow: hidden;
        margin-top: 15%;
        height: 85%;
    }
    
    .contactInfo {
        width: 100%;
        height: 300px;
    }
    
    .contactInfo div {
        height: 25px;
        width: 100%;
        /*  border: 1px solid; */
/*         padding-right: 20px; */
    }
    
    .contactItem div {
        height: 25px;
        width: 100%;
        color: white;
        line-height: 25px;
    }
    
    .contactInfo div input[type="textbox"] {
        height: 100%;
        width: 100%;
        border: 1px solid #3E88A7;
        background-color: #82CDEC;
        color: white;
        text-indent: 10px;
    }
    
    .contactInfo div input[type="submit"] {
        height: 100%;
        width: 100%;
        border: 1px solid orange;
        background-color: orange;
        color: white;
        font-weight: bold;
        text-indent: 6px;
    }
    
    .contactInfo div textarea {
        height: 100%;
        width: 100%;
        border: 1px solid #3E88A7;
        background-color: #82CDEC;
        color: white;
        text-indent: 10px;
    }
    
    .contactInfo div input:hover,
    .contactInfo div textarea:hover {
        background-color: white;
        color: black;
    }
    
    .contactInfo div input[type="submit"]:hover {
        background-color: darkorange;
        color: black;
    }
    
    .contactInfo .requireArea {
        width: 100%;
        height: 75px;
    }
    
    .contactIconMargin {
        width: 25px;
        float: left;
        height: 100%;
    }
    
    .contactIcon {
        float: left;
        width: 25px;
        height: 100%;
    }
    
    .contactImage {
        width: 100%;
    }
    
    .contactItem {
        float: left;
        /* margin:0 auto; */
        width: 100%;
    }
    
    .sectionTitle {
        clear: both;
        width: 100%;
        height: 40%;
        padding-top: 20px;
        text-align: center;
        vertical-align: middle;
        background-color: rgba(1, 155, 220, 0.95);
    }
    
    .casePresentation {
        background-color: black;
    }
    
    .clearTitle {
        clear: both;
        width: 100%;
        height: 40%;
        padding-top: 20px;
        text-align: center;
        vertical-align: middle;
    }
    
    .contentPart .clearTitle p:first-child,
    .contentPart .sectionTitle p:first-child {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 2px;
        text-align:left;
    }
    
    .contentPart .clearTitle p:nth-child(2),
    .contentPart .sectionTitle p:nth-child(2) {
        color: silver;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 2px;
        text-align:left;
    }
    
    .contentPart .clearTitle img,
    .contentPart .sectionTitle img {
        opacity: 0.5;
    }
    
    .contentPart .clearTitle p:nth-child(4),
    .contentPart .sectionTitle p:nth-child(4),
    .contentPart .clearTitle p:nth-child(5),
    .contentPart .sectionTitle p:nth-child(5) {
        color: white;
        font-size: 12px;
        margin-bottom: 2px;
    }
    
    .sectionMap {
        clear: both;
        width: 100%;
        height: 60%;
        margin: 0 auto;
    }
    
    .sectionContent {
        clear: both;
        width: 100%;
        height: 60%;
        text-align: center;
        vertical-align: middle;
        background-color: rgba(1, 155, 220, 0.95);
    }
    
    .sectionClearContent {
        clear: both;
        width: 100%;
        height: 60%;
        text-align: left;
        vertical-align: middle;
    }
    
    .newInfo {
        width: 100%;
        height: 100%;
        float: left;
        /* margin: 0 auto; */
        text-align: center;
        vertical-align: middle;
    }
    
    .newInfoIcon {
        width: 40px;
        height: 240px;
    }
    
    .infoWholePart {
        width: 90%;
        height: 100%;
        float: left;
    }
    
    .infoWholePart div {
        width: 100%;
        height: 40px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing:border-box;
    }
    
    .infoIconPart {
        width: 10%;
        height: 100%;
        float: left;
    }
    
 
    
   
    
    .infoWholePart div h6 {
        font-size: 9px;
        font-weight: bold;
        color: black;
        margin:0;
        white-space: nowrap;
        text-align:left;
    }
    
    .infoWholePart div div{
        font-size:xx-small;
        color: white;
        overflow:hidden;
        margin:0;
        text-overflow:ellipsis;
        text-indent:20px;

        /* white-space: nowrap; */
    }
    
    .caseContent {
        clear: both;
        width: 100%;
        height: 60%;

        text-align: center;
        vertical-align: middle;
        background: black;
    }
    
    .homeContent {
        clear: both;
        width: 100%;
        height: 60%;
        margin-top: 40px;
    }
    
    .sectionContent .leftContent {
        width: 40%;
        height: 100%;
        padding-right: 20px;
        text-align: left;
        vertical-align: middle;
        float: left;
    }
    
    .sectionContent .rightContent {
        width: 40%;
        height: 100%;
        padding-left: 20px;
        text-align: right;
        vertical-align: middle;
        float: left;
    }
    
    .sectionTitleConversed {
        clear: both;
        width: 100%;
        height: 40%;
        padding-top: 20px;
        text-align: left;
        vertical-align: middle;
    }

     .sectionTitleConversed div {
        color: black;
        font-size: 12px;
        margin-bottom: 2px;
        text-indent:20px;
    }
    
        
      .clearTitle div,
      .sectionTitle div {
        color: white;
        font-size: 12px;
        margin-bottom: 2px;
        text-indent:20px;
        text-align:left;
    }

    .contentPart .sectionTitleConversed p:first-child {
        color: black;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 2px;
    }
    
    .contentPart .sectionTitleConversed p:nth-child(2) {
        color: silver;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 2px;
    }
    
    .contentPart .sectionTitleConversed img {
        opacity: 0.5;
    }
    
    .contentPart .sectionTitleConversed p:nth-child(4),
    .contentPart .sectionTitleConversed p:nth-child(5) {
        color: black;
        font-size: 12px;
        margin-bottom: 2px;
        text-indent:20px;
    }
    
    .homeRow {
        width: 100%;
        height: 100%;
        display: inline-block;
        margin: 0 auto;
    }
    
    .caseRow {
        width: 100%;
        height: 50%;
        display: inline-block;
        margin: 0 auto;
    }
    
    .singleCase {
        width: 24%;
        height: 100%;
    }
    
    .homeCase {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
    
    .rowWrapper {
        display: block;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        height: 60px;
        background: aqua;
        /* IE hack */
        *position: relative;
        *heigth: 60px;
        *width: 695px;
        /* IE hack */
    }
    
    .width20 {
        width: 20%;
    }

     .width30 {
        width: 30%;
    }
    
    .width50 {
        width: 50%;
    }

    .width70 {
        width: 70%;
    }
    
    .width80 {
        width: 80%;
    }
    
    .width100 {
        width: 100%;
    }
    
    .height25 {
        height: 25%;
    }
    
    .height50 {
        height: 50%;
    }
    
    .height80 {
        height: 80%;
    }
    
    .height100 {
        height: 100%;
    }
    
    .floatLeft {
        float: left;
    }
    
    .floatRight {
        float: right;
    }
    
    .floatClear {
        clear: both;
    }