<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统主界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
</head>

<body>

    <header>
        <div class="container-fluid header">
            <div class="row baidulogrow">
                <div class="col-xs-1 baiduicon"></div>
                <div class="col-xs-1 usericon"></div>
                <div class="col-xs-8 baidulogon"></div>
                
                <div class="col-xs-1 plusicon"></div>
                <div class="col-xs-1 searchicon"></div>
            </div>
        </div>
    </header>
    <div id="topnav" class="container-fluid topnav">
        <div class="row">
            <div class="col-xs-2 active"><b></b>推荐</div>
            <div class="col-xs-2"><b></b>百家</div>
            <div class="col-xs-2"><b></b>本地</div>
            <div class="col-xs-2"><b></b>图片</div>
            <div class="col-xs-2"><b></b>娱乐</div>
            <div class="col-xs-2"><b></b>社会</div>
        </div>
        <div class="row">
            <div class="col-xs-2"><b></b>军事</div>
            <div class="col-xs-2"><b></b>女人</div>
            <div class="col-xs-2"><b></b>搞笑</div>
            <div class="col-xs-2"><b></b>科技</div>
            <div id="morecontent" class="col-xs-4"><b></b>更多<span class="glyphicon glyphicon-triangle-bottom"></span></div>
        </div>
        <div id="moremenu" class="">
            <div class="row">
                <div class="col-xs-2"><b></b>生活</div>
                <div class="col-xs-2"><b></b>国际</div>
                <div class="col-xs-2"><b></b>国内</div>
                <div class="col-xs-2"><b></b>体育</div>
                <div class="col-xs-2"><b></b>汽车</div>
                <div class="col-xs-2"><b></b>财经</div>
            </div>
            <div class="row">
                <div class="col-xs-2"><b></b>房产</div>
                <div class="col-xs-2"><b></b>时尚</div>
                <div class="col-xs-2"><b></b>教育</div>
                <div class="col-xs-2"><b></b>游戏</div>
                <div class="col-xs-2"><b></b>旅行</div>
                <div class="col-xs-2"><b></b>人文</div>
            </div>
            <div class="row">
                <div class="col-xs-4"><b></b>创意</div>
                <div class="col-xs-4"><b></b>互联网+</div>
                <div class="col-xs-4">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-xs-2 padding_0"><b></b>记者榜</div>
                <div class="col-xs-2 padding_0"><b></b>媒体榜</div>
                <div class="col-xs-2"><b></b>删除及排序</div>
                <div class="col-xs-2"><b></b>&nbsp;</div>
                <div id="hidemenu" class="col-xs-4"><b></b>收起<span class="glyphicon glyphicon-triangle-top"></span></div>
            </div>
        </div>
    </div>
    <div id="result">
       <%= content %>
    </div>

    <div id="gotop" class="gotop-globalview"></div>
    <div id="feedback" class="feedback-globalview" ></div>

    <script type="text/javascript" src="/javascripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script>
    </script>
</body>

</html>

